/* styles.css */

.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-container {
    flex: 3; /* Adjust the ratio as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #000; /* Set a background color for video area */
  }
  
  .chat-container {
    flex: 1; /* Adjust the ratio as needed */
    display: flex;
    flex-direction: column;
    background-color: #fff; /* Set a background color for the chat area */
  }
  
  /* Style VideoScreen and Chat components accordingly */
  